
/* Estilos para telas pequenas e acima */
@media (min-width: 576px) {
}
/* Estilos para telas médias e acima */
@media (min-width: 768px) {
}
  /* Estilos para telas grandes e acima */
@media (min-width: 992px) {
}
/* Estilos para telas grandes e acima */
@media (min-width: 1200px) {
}
/* Estilos para telas extra grandes e acima */ 
@media (min-width: 1400px) {
}

#sidebar { max-width: 100%; margin: 0 auto; display: table;
    -webkit-box-shadow: 0px 2px 20px 0px #dee0ea;
    -moz-box-shadow: 0px 2px 20px 0px #dee0ea;
    -o-box-shadow: 0px 2px 20px 0px #dee0ea;
    box-shadow: 0px 2px 20px 0px #dee0ea;
    padding: 20px;
    border-radius: 7px;  
    background-color: #fff;
  }
  #sidebar h3{margin-bottom:10px;}
  #sidebar .widget { padding-bottom: 20px; margin-bottom: 20px; width: 100%; overflow: hidden;}
   
  
    
  /*--  widget --*/
  .widget ul {margin:0;padding:0;}
  .widget:first-child{margin-top: 0px;}
  .widget:last-child{border-bottom: none;}
  .widget ul li {color:$color-primary; margin: 0;overflow: hidden;padding: 6px 15px;}
  .widget ul li:last-child{border-bottom: none;}
  
  
  /*-- search widget --*/
  .searchfield{font-size: 13px;padding: 10px 28px 10px 6px;	width: 240px;border:1px solid #E7E7E7;font:inherit;color: #888;}
  
  /*-- Tags Widget --*/
  .tagcloud{overflow:hidden;margin-top:10px;}
  .tagcloud a {background: #F7F7F7;color: $color-primary ;display: block;float: left;font-size: 12px !important;line-height: 12px;margin-bottom: 8px;	margin-right: 15px;padding: 8px 12px;text-decoration: none;}
  .tagcloud a:hover{background: #f4a00d;  color: #fff;}
  
  
  /*-- Calendar Widget --*/
  .widget_calendar h3.widgettitle {display:none;}
  .widget_calendar h4 {display:none;}
  .widget_calendar #wp-calendar caption {font-size: 14px;font-weight:bold;text-align:center;text-transform: uppercase;margin-bottom:10px;}
  .widget_calendar table#wp-calendar {width:100%;border:none;margin-bottom:0;}
  .widget_calendar thead>tr>th {width:14%; height:23px; text-align:center; background-color:#f7f7f7; }
  .widget_calendar td {width:14%;	height:23px;text-align:center;border:none;}
  .widget_calendar tfoot>tr>td#prev {width:58px;height:20px;text-align:left;}
  .widget_calendar tfoot>tr>td#next {width:58px; height:20px;text-align:right;}
  